@import "./../../Variables.scss";

.header {
    width: 100%;
    height: 4.875rem;
    z-index: 5;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;
    z-index: 150;
    justify-content: space-between;

    & .logo {
        height: 74.25%;

        & img {
            height: 100%;
        }
    }

    & .nav {
        z-index: 10;
        display: flex;
        align-items: center;

        &Links {
            display: flex;
            align-items: center;

            &Link {
                margin: 0 0.94rem;
                color: $black;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 0.875rem;
                font-weight: $bold;

                &.active {
                    color: $main;
                }
            }
        }

        &Lang {
            display: flex;
            margin: 0 1rem;

            & .menu {
                margin-left: 3px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 1120px) {
    .header {
        height: 4.375rem;

        & .logo {
            height: 60%;

            & img {
                height: 100%;
            }
        }

        & .nav {
            &Links {
                &Link {
                    margin: 0 0.44rem;
                    font-size: 0.75rem;
                }
            }

            & .burger {
                cursor: pointer;
                display: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        & .nav {
            &Links {
                &Link {
                    font-size: 0.65rem;
                }
            }

        }
    }
}

@media (max-width: 768px) {
    .header {
        & .nav {
            &Links {
                position: absolute;
                flex-direction: column;
                right: 4%;
                top: 117%;
                background: #ffffff;
                box-shadow: 0 0 10px 0px $mainTransparent;
                border-radius: 0.5rem;
                visibility: hidden;
                opacity: 0;
                user-select: none;
                pointer-events: none;
                transition: all .2s linear;

                &Link {
                    margin: 10px 20px;
                    user-select: none;
                    text-align: center;
                }
            }

            &Links.active {
                visibility: visible;
                opacity: 1;
                user-select: all;
                pointer-events: all;
            }

            & .burger {
                display: block;
                position: relative;
                width: 19px;
                height: 19px;
            }

            & .burger span {
                position: absolute;
                width: 100%;
                height: 3px;
                border-radius: 0.5rem;
                background: $main;
                opacity: 1;
                transition: all .2s linear;
            }

            & .burger span:first-child {
                top: 0px;
            }

            & .burger span:nth-child(2) {
                top: 8px;
            }

            & .burger span:last-child {
                top: 16px;
            }

            & .burger.active span:first-child,
            & .burger.active span:last-child {
                top: 8px;
            }

            & .burger.active span:first-child {
                transform: rotate(225deg);
            }

            & .burger.active span:last-child,
            & .burger.active span:nth-child(2) {
                transform: rotate(-225deg);
            }

            & .burger.active span:nth-child(2) {
                opacity: 0;
            }
        }
    }
}