@import "./../../Variables.scss";

.product {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    display: flex;
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;
    padding: 2px 36px;
    
    &Image {
        max-width: 540px;
        width: 45%;
        height: 360px;
        border-radius: 18px;
        overflow: hidden;
        background: $grey;
        display: flex;
        align-items: center;
        padding: 80px 60px 60px 60px;
        position: relative;
        overflow: hidden;

        & img {
            width: 100%;
        }
    }

    &Name {
        width: 100%;
        font-size: 16px;
        color: $dark;
        font-weight: $bold;
        text-align: left;
        text-transform: uppercase;
        line-height: 19.2px;
        margin-top: 22px;
    }

    &Info {
        width: 50%;
        font-size: 16px;
        margin-top: 27px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 18px;
    }

    &Size {
        width: 120px;
        color: $main;
        font-weight: $normal;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 8px 5px;
        margin: 0.5rem;
        font-size: 14px;
        border: 1px solid $main;
        border-radius: 14px;
    }

    &Sizes {
        color: $main;
        font-weight: $normal;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px 5px;
        margin-bottom: 1rem;
        margin: 0.5rem;
        font-size: 14px;
        border-radius: 14px;

        &Element {
            width: 120px;
            color: $main;
            font-weight: $normal;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 8px 5px;
            margin-right: 1rem;
            font-size: 14px;
            border: 1px solid $main;
            border-radius: 14px;
        }
    }

    &Height {
        display: flex;

        & img {
            margin-right: 7px;
        }
    }

    &Width {
        display: flex;

        & img {
            margin-right: 7px;
        }
    }

    &Layers {
        padding: 8px 5px;
        margin: 0.5rem;
        display: flex;

        & img {
            margin-right: 7px;
        }
    }

    &Count {
        padding: 8px 5px;
        margin: 0.5rem;
        display: flex;

        & img {
            margin-right: 7px;
        }
    }

    &Type {
        position: absolute;
        text-align: center;
        color: #fff;
        width: 100%;
        padding: 8px;
        font-weight: $bold;
        top: 12%;
        background: #12724F;
        transform: rotate(45deg);
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
        right: -38%;
    }

    & .text {
        color: $dark;
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%;
        padding: 10px;
        text-align: left;

        &Info {
            flex-flow: column;
        }

        &Type {
            top: 8%;
            right: -35%;
        }
    }
}

@media (max-width: 1000px) {
    .product {
        flex-flow: column;
        &Image {
            min-width: 90vw;
            height: 60vw;
            padding: 20px !important;
        }
        &Info {
            width: 100%;
        }
        &Sizes {
            flex-wrap: wrap;
            &Element {
                margin: 0.4rem 0.8rem 0.4rem 0;
            }
        }
        & .text {
            padding-right: 1rem;
        }
    }
}