$main: #12724F;
$mainTrans: #009962;
$red: #f22b29;
$redTrans: #f35653;
$primary: #F4F9FF;
$mainTransparent: rgba(18, 114, 79, 0.2);
$dark: #1E1E1E;
$grey: #DDDDDD;
$black: #000;
$white: #fff;


$light: 300;
$normal: 400;
$bold: 700;

$padding: 0 3.8% 0 3.8%;
